@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');


.vseok {
    color:black;
}

.yaclass{
    font-family: 'Roboto Slab', serif;
}

.iphone{
    text-align: right;
}
.piccha{
    
        display:block;
        margin:auto;
        
}
